
body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to top right, rgb(30, 0, 0), rgb(88, 0, 0)) no-repeat;
}

.container-cards {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.container-card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

.reading-card {
    padding: 0px; 
    width: 300px; 
    text-align: center;
    background: #2e2e2e;
    box-shadow: 0 0 5px 0 rgb(205, 186, 186);
    color: rgb(220, 220, 220);
    font-size: 36px;
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.btn-add {
    padding: 20px; 
    margin: 20px; 
    border-radius: 20px;
    border: none;
    background: linear-gradient(to top right, white, gray);
    box-shadow: 2px 2px 8px 1px #333333;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: #333333;
    transition: all 0.3s ease-in-out;
}
.btn-add:hover {
    transform: scale(1.05);
    background: linear-gradient(to top right, gray, white);
}

.btn-delete {
    background-color: rgb(180, 45, 45);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.btn-delete:hover {
    transform: scale(1.05);
    background-color: rgb(130, 0, 0);
}

h1 {
    margin: 0;
    font-size: 50px;
    color: rgb(185, 121, 121);
    letter-spacing: 0.8px;
}